<%= render 'components/jumbotron'  %>

<div class="container">
  <!-- Trigger the modal with a button -->
<div class="row">
  <div class="col-xs-6">
    <%= form_tag( items_path, :method => "get", role:"search") do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], placeholder: "Search HashQuesions" ,class:"form-control" %>
      <span class="input-group-btn">
       <%= submit_tag "Search", :name => nil,class: 'btn btn-default' %>

      </span>
    <% end %>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->


  <div class="col-xs-6">
      <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myCreateModal"><i class="fa fa-pencil" aria-hidden="true"></i> Add a Question! </button>
  </div><!-- /.col-lg-6 -->

</div>
<hr>

  <%= will_paginate @items, renderer: BootstrapPagination::Rails %>




  <div class="row" id= "container_items">
    <%= render @items %>
  </div>

  <%= will_paginate @items, renderer: BootstrapPagination::Rails %>
  <hr>

  <%= render 'createModal' %>





</div>
