<%= render 'components/jumbotron'  %>

<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myCreateModal"><i class="fa fa-pencil" aria-hidden="true"></i> Add a Question! </button>

<hr>

  <%= will_paginate @items, renderer: BootstrapPagination::Rails %>




  <div class="row" id= "container_items">
    <%= render @items %>
  </div>

  <%= will_paginate @items, renderer: BootstrapPagination::Rails %>
  <hr>

  <%= render 'createModal' %>





</div>
